<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="cn.edu.zzia.job.domain" />
	</typeAliases>

	<plugins>
		<plugin interceptor="cn.edu.zzia.job.util.PagePlugin">
			<property name="dialect" value="mysql" />
			<property name="pageSqlId" value=".*Page.*" />
		</plugin>
	</plugins>
</configuration>